<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}/>
    <link rel="stylesheet" href={% static 'css/mystyle.css' %}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>장고 게시판</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <!-- 기본 템플릿 안에 삽입 시작 -->
    {% block content %}

    <!-- 각 페이지마다 다른 내용 작성-->
    {% endblock %}
    <script src={% static 'js/jquery-3.6.0.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    {% block script %}
      <!-- 페이지마다 서로 다른 스크립트 작성 영역 -->
    {% endblock %}
  </body>
</html>
