{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <div class="media">
    <div class="row ml-5 mt-3 mb-3">
      <img class="rounded account-img" src="{{profile.image.url}}" style="border: solid" alt="반려동물" />
    </div>
    <div class="media-body m-5">
      <!-- FORM HERE -->
      <form method="POST" enctype="multipart/form-data" class="mb-5 mr-5 ml-5">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">프로필 정보</legend>
          {{ u_form|crispy }}
          <!-- User form -->
          {{ p_form|crispy }}
          <!-- Profile form -->
        </fieldset>
        <div class="form-group">
          <button class="btn" type="submit" style="background-color: #234e70; color: white">수정하기</button>
          <a class="btn" type="button" style="background-color: orange; color: white" href="{% url 'common:change_password' %}">비밀번호 변경</a>
          <a class="btn" type="button" style="background-color: blue; color: white" href="{% url 'common:delete' %}">탈퇴하기</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
